@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

@import "search";
@import "gallery-slider";
@import "images";
@import "tab";
@import "accordion";
@import "modal";
@import "notice";

@import "module-overrides";
@import "custom";
